<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Dummy Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex justify-content-between w-100">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>

        <button *ngIf="authService.userModel !== null" type="button" class="btn btn-outline-dark"
          (click)="authService.signoutCurrentUser()">Sign Out</button>
        <div class="d-flex justify-content-end gap-2" *ngIf="authService.userModel === null">
          <button type="button" class="btn btn-outline-dark" routerLink="/login">Login</button>
          <button type="button" class="btn btn-outline-dark" routerLink="/register">Register</button>
        </div>
      </div>
    </div>
  </div>
</nav>