<!-- <router-outlet></router-outlet> -->


<div class="container-fluid vh-100">
  <div class="row" style="height: inherit;">
    <div class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center px-4 bg-dark">
      <h2 class="text-white text-uppercase text-center d-none d-sm-block m-0 mt-4 mb-1">Angular Dummy Project</h2>
      <h5 class="text-white text-uppercase text-center d-block d-sm-none m-0 mt-2">Angular Dummy Project</h5>
    </div>
    <div class="col-12 col-sm-6 px-sm-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>