<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand d-flex flex-row" href="#">SMART LIBRARY</a>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link "  routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page" >Home</a>
            <a class="nav-link "  routerLink="about" routerLinkActive="active" ariaCurrentWhenActive="page" >Features</a>
            <a class="nav-link" href="/">About school</a>
            <a class="nav-link disabled">Disabled</a>
          </div>
        </div>
        <!-- <form class="d-flex  mr-auto ml-auto" role="search">
          <input class="form-control me-2 mr-auto ml-auto" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success mr-auto ml-auto" type="submit">Search</button> &nbsp;
        </form>  &nbsp; -->
  
        <div class="d-flex justify-content-end gap-2" >
          <button type="button" class="btn btn-outline-light" routerLink="/login">Login</button>
          <button type="button" class="btn btn-outline-light" routerLink="/register">Register</button>
        </div>
  
      </div>
    </nav>
  </div>
  